header {
    background: #BCB8B1;
}

.outer-container-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: 1px solid red;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    list-style: none;
    color: #1E212B;
    font-size: 1.5em;

}

ul li {
    border-bottom: 1px solid #F4F3EE;
}

nav h2 {
    color: #1E212B;

}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: 1px solid red;
    margin: 50px 0;
}

.inner-container {
    flex-basis: 1400px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 40px;
    align-items: center;
    border: 1px dotted blue;
}

/*voorstellen*/

.column {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin: 0 25px;
    flex-shrink: 2;
    border: 3px solid red;
}

.column-one {
    width: 450px;
    border: 3px solid purple;
    /*box-shadow: 0px 0px 68px 5px rgba(0,0,0,0.72);*/
}

.column-one h1 {
    margin-bottom: 25px;
}

.column-one p {
    margin: 10px 0;

}

.photoBox {
    max-width: 250px;
    border: 4px solid purple;

}

.fotoNick {
    /*border-top-left-radius: 125px;*/
    /*border-top-right-radius: 125px;*/
    border-radius: 75px;
    width: 100%;
    /*box-shadow: 10px 10px 66px 0px rgba(0,0,0,0.75);*/

}

/*about me*/
.photoBoxEvent {
    max-width: 3000px;
}

.photoEvent {
    width: 100%;
}

