header {
    /*background: #BCB8B1;*/
}

.outer-container-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: 1px solid red;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 115px;
    margin: 0 25px;
    border: 1px solid blue;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    list-style: none;
    color: #1E212B;
    font-size: 1.5em;

}

ul li {
    border-bottom: 1px solid #F4F3EE;
}

nav h2 {
    color: #1E212B;

}