@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300;500&display=swap');


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*achtergrondkleur #F4F3EE*/
/*navbar kleur #1E212B*/
/*detail kleur #BCB8B1*/

/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', Times New Roman, serif;
  font-weight: 700;
}

/*h1 {*/
/*  font-size: 3em;*/
/*}*/

h2 {
  font-size: 1.8em;
}

/*h3 {*/
/*  font-size: 1.5em;*/

/*}*/

/*h4 {*/
/*  font-size: 1.5em;*/
/*}*/

html {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #BCB8B1;
}

.outer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border: 1px solid red;
}

.inner-container {
  flex-basis: 1400px;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 40px;
  align-items: center;
  border: 1px dotted blue;
}