@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*achtergrondkleur #001427*/
/*navbar kleur #001427*/
/*detail kleur #F9532D*/

/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 700;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

/*h3 {*/
/*  font-size: 1.5em;*/

/*}*/

/*h4 {*/
/*  font-size: 1.5em;*/
/*}*/

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #1a1a1a;
}

/*      BUTTON    */
button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  margin-top: 35px;
  border: 3px solid #F9532D;
  background: transparent;
}

button p {
  color: #F9532D;
  font-size: 1.2em;
}

button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px 5px #F9532D, inset 0 0 10px 3px #F9532D;
  /*box-shadow: 0 0 20px 5px #F9532D, inset 0 0 10px 3px rgba(0, 0, 0, 0.5);*/
}

